.App {
  text-align: center;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  word-spacing: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #162646;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
}

li {
  margin-top: 20px;
}

.place-list {
  margin-top: 30px;
}
.place-list li {
  display: inline;
}
.place-list input {
  height: 70px;
  width: 70px;
  margin: 5px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
  background-color: #6AAA64;
  color: aliceblue;
}

.App-link {
  color: #61dafb;
}

.bannedLetters {
  height: 40px;
  min-width: 100px;
  margin: 20px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
  background-color: #787C7E;
  color: aliceblue;
}

.rightLetters {
  height: 40px;
  min-width: 100px;
  margin: 20px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
  background-color: #C9B458;
  color: aliceblue;
}

.submitButton {
  height: 60px;
  width: 300px;
  margin-left: 50px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}

.tip {
  color: yellow;
  font-weight: 900;
}

.filtered-words {
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

