.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
  word-spacing: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #162646;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
}

li {
  margin-top: 20px;
}

.place-list {
  margin-top: 50px;
}
.place-list li {
  display: inline;
}
.place-list input {
  height: 70px;
  width: 70px;
  margin: 5px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}

.banned-letters {
  height: 40px;
  width: 200px;
  margin: 5px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}

.right-letters {
  height: 40px;
  width: 200px;
  margin: 5px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}

.submit-button {
  height: 60px;
  width: 200px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
